<p-menubar [model]="items" class="custom-background">
  <!-- Start Template for Logo or Left-Aligned Items -->
  <ng-template pTemplate="start">
    <div class="logo-container">
      <img src="path/to/your/logo.png" alt="Logo" class="menu-logo" />
    </div>
  </ng-template>

  

  <!-- End Template for Right-Aligned Items -->
  <ng-template pTemplate="end">
    <button class="cart-icon" (click)="openCart()">
      <i class="pi pi-shopping-cart"></i>
      <span class="cart-count">{{ cartItemCount }}</span>
    </button>
  </ng-template>
</p-menubar>