.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    padding: 50px 150px ; /* Center the form on the page */
   
  }
  .form-label {
  
  margin: 10px;
  align-items: center;
  
  }
  .hajar {
    display: flex;
    
  
  }
  /* styles.css (or your preferred style file) */
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Optional: Adjust the height based on your design */
  
  
  }
  
  
  